@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.eot?") format("eot"), url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat-Regular.svg#Montserrat-Regular") format("svg"); }
@font-face {
  font-family: "Montserrat Light";
  src: url("../fonts/MontserratLight/Montserrat-Light.eot?") format("eot"), url("../fonts/MontserratLight/Montserrat-Light.woff2") format("woff2"), url("../fonts/MontserratLight/Montserrat-Light.woff") format("woff"), url("../fonts/MontserratLight/Montserrat-Light.ttf") format("truetype"), url("../fonts/MontserratLight/Montserrat-Light.svg#Montserrat-Light") format("svg"); }
@font-face {
  font-family: "Montserrat Medium";
  src: url("../fonts/MontserratMedium/Montserrat-Medium.eot?") format("eot"), url("../fonts/MontserratMedium/Montserrat-Medium.woff2") format("woff2"), url("../fonts/MontserratMedium/Montserrat-Medium.woff") format("woff"), url("../fonts/MontserratMedium/Montserrat-Medium.ttf") format("truetype"), url("../fonts/MontserratMedium/Montserrat-Medium.svg#Montserrat-Medium") format("svg"); }
@font-face {
  font-family: "Rockwell";
  src: url("../fonts/Rockwell/Rockwell.eot?") format("eot"), url("../fonts/Rockwell/Rockwell.woff2") format("woff2"), url("../fonts/Rockwell/Rockwell.woff") format("woff"), url("../fonts/Rockwell/Rockwell.ttf") format("truetype"), url("../fonts/Rockwell/Rockwell.svg#Rockwell") format("svg"); }
@font-face {
  font-family: "Rockwell Bold";
  src: url("../fonts/RockwellBold/Rockwell Bold.eot?") format("eot"), url("../fonts/RockwellBold/Rockwell Bold.woff2") format("woff2"), url("../fonts/RockwellBold/Rockwell Bold.woff") format("woff"), url("../fonts/RockwellBold/Rockwell Bold.ttf") format("truetype"), url("../fonts/RockwellBold/Rockwell Bold.svg#Rockwell-Bold") format("svg"); }
* {
  margin: 0;
  padding: 0; }

html, body {
  font-style: normal;
  font-weight: 400;
  font-size: 14.5px;
  line-height: 1.5;
  font-family: 'Montserrat Light', sans-serif;
  letter-spacing: 0;
  text-align: left;
  color: #3b3d42;
  background-color: white; }
  @media screen and (max-width: 1620px) {
    html, body {
      font-size: 12px; } }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

ul {
  list-style: disc; }

a {
  color: #484848;
  text-decoration: none;
  transition: all 0.3s ease; }
  a:hover {
    color: #95165b;
    text-decoration: none; }

h2 {
  font-size: 3.125rem;
  font-family: "Rockwell Bold", serif;
  line-height: 1.2;
  word-spacing: -0.2rem;
  text-align: center; }
  h2 span {
    font-family: "Rockwell", serif; }

.row {
  margin: 0; }

.painted-block {
  padding: 2.8rem 2.5rem 4.4rem;
  border-radius: 2rem; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.btn-full {
  font-size: 1.2rem;
  width: 252px;
  color: #fff;
  background-color: #95165b;
  border-color: #95165b;
  padding: 1.2rem .5rem; }
  @media screen and (max-width: 1620px) {
    .btn-full {
      width: 208px; } }
  @media screen and (max-width: 1200px) {
    .btn-full {
      width: 100px;
      font-size: 1rem; } }

.btn-empty {
  font-size: 1.2rem;
  line-height: 1;
  width: 252px;
  padding: 1.5rem .5rem; }
  @media screen and (max-width: 1620px) {
    .btn-empty {
      width: 208px; } }
  @media screen and (max-width: 1200px) {
    .btn-empty {
      width: 100px;
      font-size: 1rem; } }

.wrapper {
  max-width: 1580px;
  margin: 0 auto;
  width: 100%;
  z-index: 1; }
  @media screen and (max-width: 1620px) {
    .wrapper {
      width: 80%; } }
  @media screen and (max-width: 1420px) {
    .wrapper {
      width: 96%; } }

header .header-wrap {
  margin: 2.4rem 0 4.2rem; }
  header .header-wrap .logo-block {
    width: 24rem;
    margin-right: 4rem; }
    @media screen and (max-width: 1620px) {
      header .header-wrap .logo-block {
        margin-right: 0; } }
    @media screen and (max-width: 960px) {
      header .header-wrap .logo-block {
        width: 19rem; } }
    header .header-wrap .logo-block img {
      max-height: 110px; }
  header .header-wrap .menu-block .nav .nav-item {
    font-size: 1.4rem; }
    header .header-wrap .menu-block .nav .nav-item .nav-link {
      margin: 0 1.1rem;
      padding: 0 1rem;
      line-height: 1; }
      @media screen and (max-width: 1200px) {
        header .header-wrap .menu-block .nav .nav-item .nav-link {
          margin: 0 .5rem;
          padding: 0 .5rem;
          font-size: 1.2rem; } }
  header .header-wrap .buttons-block {
    margin-left: auto;
    margin-bottom: -1.5rem; }
    header .header-wrap .buttons-block button {
      width: 202px; }
      @media screen and (max-width: 1200px) {
        header .header-wrap .buttons-block button {
          width: 100px; } }
      header .header-wrap .buttons-block button.btn-empty {
        margin-right: 1.8rem; }

#banner-main {
  margin-bottom: 2.5rem; }
  #banner-main .row {
    background-color: #b9c95e; }
    #banner-main .row .left-col {
      padding-right: 8.4rem; }
      @media screen and (max-width: 1200px) {
        #banner-main .row .left-col {
          padding-right: 6.4rem; } }
      @media screen and (max-width: 960px) {
        #banner-main .row .left-col {
          padding-right: 0; } }
      #banner-main .row .left-col h2 {
        margin-bottom: 4.4rem;
        text-align: left; }
      #banner-main .row .left-col p {
        font-size: 1.33rem;
        line-height: 1.2;
        text-align: justify;
        margin-bottom: 6rem; }
      #banner-main .row .left-col .buttons-block .btn-full {
        margin-right: 1.8rem; }

#solutions h2 {
  margin-bottom: 3.2rem; }
  #solutions h2 span {
    font-size: 2.4rem; }
#solutions .info-bl {
  margin-bottom: 4rem; }
  #solutions .info-bl .icon-col {
    width: 30%;
    padding: 1.5rem 0; }
    @media screen and (max-width: 1620px) {
      #solutions .info-bl .icon-col {
        padding: 1.5rem 1rem; } }
    #solutions .info-bl .icon-col img {
      max-height: 100px;
      max-width: 123px; }
  #solutions .info-bl .info-container {
    width: 70%;
    padding: 1.5rem 2rem;
    -webkit-box-shadow: -2px 2px 20px 0px rgba(212, 212, 212, 0.75);
    -moz-box-shadow: -2px 2px 20px 0px rgba(212, 212, 212, 0.75);
    box-shadow: -2px 2px 20px 0px rgba(212, 212, 212, 0.75); }
    #solutions .info-bl .info-container h3 {
      font-family: "Rockwell", serif;
      font-size: 2.4rem;
      height: 76px;
      line-height: 1;
      margin-bottom: 2.7rem; }
    #solutions .info-bl .info-container .info-text {
      margin-bottom: 3.7rem;
      text-align: justify;
      word-spacing: .1rem; }
    #solutions .info-bl .info-container .info-link {
      color: #95165b;
      text-decoration: underline;
      text-align: right;
      display: block; }

#principles {
  margin-bottom: 4rem; }
  #principles .row {
    background-color: #95165b; }
    #principles .row h2 {
      color: white;
      margin-bottom: 4.4rem;
      text-align: left; }
      @media screen and (max-width: 960px) {
        #principles .row h2 {
          margin-bottom: 1.4rem; } }
    #principles .row .video-container {
      position: relative; }
      #principles .row .video-container img {
        position: absolute;
        right: 4%;
        top: 0;
        height: 8.9rem; }
      #principles .row .video-container video {
        margin-top: 5rem;
        border-radius: .3rem;
        height: 100%;
        width: 90%;
        z-index: 1; }
        @media screen and (max-width: 1200px) {
          #principles .row .video-container video {
            width: 100%; } }

#pricing {
  margin-bottom: 4rem; }
  #pricing h2 {
    margin-bottom: 7.7rem; }
  #pricing .row .price-bl {
    width: 24%;
    border-radius: .3rem;
    -webkit-box-shadow: -2px 10px 23px 10px rgba(212, 212, 212, 0.75);
    -moz-box-shadow: -2px 10px 23px 10px rgba(212, 212, 212, 0.75);
    box-shadow: -2px 10px 23px 10px rgba(212, 212, 212, 0.75);
    position: relative; }
    #pricing .row .price-bl .mark-popular {
      padding: 1rem;
      border-radius: .3rem .3rem 0 0;
      background-color: #95165b;
      color: white;
      margin: 0;
      display: block;
      text-align: center;
      position: absolute;
      width: 100%;
      top: -1.5rem;
      font-size: 1.5rem;
      line-height: 1;
      font-family: 'Rockwell Bold', serif; }
    #pricing .row .price-bl .price-wrap {
      padding: 4.8rem 2rem; }
      #pricing .row .price-bl .price-wrap h3 {
        font-family: 'Montserrat', sans-serif;
        color: #7c7c7c;
        text-align: center;
        font-size: 2.8rem; }
      #pricing .row .price-bl .price-wrap .img-block {
        text-align: center; }
        #pricing .row .price-bl .price-wrap .img-block img {
          height: 285px; }
          @media screen and (max-width: 960px) {
            #pricing .row .price-bl .price-wrap .img-block img {
              height: 130px; } }
      #pricing .row .price-bl .price-wrap .price {
        text-align: center;
        font-size: 3.2rem;
        margin: 1rem auto 2rem;
        color: #7c7c7c;
        font-family: 'Montserrat Medium', serif; }
      #pricing .row .price-bl .price-wrap .price-text {
        width: 252px;
        margin: 0 auto; }
        @media screen and (max-width: 1620px) {
          #pricing .row .price-bl .price-wrap .price-text {
            width: 80%; } }
      #pricing .row .price-bl .price-wrap .btn-full {
        text-align: center;
        display: block;
        margin: 7rem auto 0; }
        @media screen and (max-width: 1620px) {
          #pricing .row .price-bl .price-wrap .btn-full {
            width: 80%; } }
    #pricing .row .price-bl:last-of-type .price-wrap .btn-full {
      background-color: #b9c95e;
      border-color: #b9c95e;
      color: black; }

#flags {
  margin-bottom: 6.2rem; }
  #flags h2 {
    margin-bottom: 6.8rem; }
  @media screen and (max-width: 960px) {
    #flags .row {
      width: 80%;
      margin: 0 auto; } }
  #flags .row .flag {
    width: 77px;
    height: 48px;
    opacity: 0.4; }
    @media screen and (max-width: 960px) {
      #flags .row .flag {
        margin-bottom: .5rem; } }
  #flags .row .fl-1 {
    background: url(../media/img/flags/f1.png) no-repeat center center;
    background-size: cover; }
  #flags .row .fl-2 {
    background: url(../media/img/flags/f2.png) no-repeat center center;
    background-size: cover; }
  #flags .row .fl-3 {
    background: url(../media/img/flags/f3.png) no-repeat center center;
    background-size: cover; }
  #flags .row .fl-4 {
    background: url(../media/img/flags/f4.png) no-repeat center center;
    background-size: cover; }
  #flags .row .fl-5 {
    background: url(../media/img/flags/f5.png) no-repeat center center;
    background-size: cover; }
  #flags .row .fl-6 {
    background: url(../media/img/flags/f6.png) no-repeat center center;
    background-size: cover; }
  #flags .row .fl-7 {
    background: url(../media/img/flags/f7.png) no-repeat center center;
    background-size: cover; }
  #flags .row .fl-8 {
    background: url(../media/img/flags/f8.png) no-repeat center center;
    background-size: cover; }
  #flags .row .fl-9 {
    background: url(../media/img/flags/f9.png) no-repeat center center;
    background-size: cover; }
  #flags .row .fl-10 {
    background: url(../media/img/flags/f10.png) no-repeat center center;
    background-size: cover; }
  #flags .row .fl-11 {
    background: url(../media/img/flags/f11.png) no-repeat center center;
    background-size: cover; }
  #flags .row .fl-12 {
    background: url(../media/img/flags/f12.png) no-repeat center center;
    background-size: cover; }
  #flags .row .fl-13 {
    background: url(../media/img/flags/f13.png) no-repeat center center;
    background-size: cover; }
  #flags .row .fl-14 {
    background: url(../media/img/flags/f14.png) no-repeat center center;
    background-size: cover; }

#try-prop {
  margin-bottom: 8.7rem; }
  #try-prop .row {
    margin: 0 auto; }
    #try-prop .row .illustration img {
      max-height: 413px; }
    #try-prop .row .free-benefits h3 {
      font-family: 'Rockwell', serif;
      font-size: 2.3rem;
      margin-bottom: 2.5rem;
      word-spacing: .2rem; }
    #try-prop .row .free-benefits ul {
      list-style: none; }
      #try-prop .row .free-benefits ul li {
        font-family: 'Montserrat Light', sans-serif;
        font-size: 1.4rem;
        line-height: 1;
        margin-bottom: 1.1rem;
        color: #333945; }
        #try-prop .row .free-benefits ul li:before {
          content: "\2605";
          margin-right: 1.5rem;
          color: #95165b;
          font-size: 0.9rem;
          vertical-align: middle;
          display: inline-block;
          -webkit-transform: rotate(30deg);
          -moz-transform: rotate(30deg);
          -o-transform: rotate(30deg);
          -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
        #try-prop .row .free-benefits ul li span {
          color: #95165b; }
    #try-prop .row .chooser img {
      height: 265px;
      display: block;
      margin: 0 auto 3.5rem; }
    #try-prop .row .chooser .btn-container .btn-full:first-of-type {
      background-color: #b9c95e;
      border-color: #b9c95e;
      color: black; }
    @media screen and (max-width: 1620px) {
      #try-prop .row .chooser .btn-container .btn-full {
        width: 48%; } }
    #try-prop .row .chooser .remark {
      margin-left: 1.5rem; }

#testimonials .testimonials-car .slick-list {
  padding: 8rem 0 !important; }
  #testimonials .testimonials-car .slick-list::after {
    content: "";
    display: block;
    width: 100%;
    height: 58%;
    position: absolute;
    bottom: 8rem;
    border: 2.7rem solid #b9c95e;
    border-radius: 10px;
    opacity: 0.4;
    z-index: -1; }
    @media screen and (max-width: 960px) {
      #testimonials .testimonials-car .slick-list::after {
        height: 64%;
        border: 1.7rem solid #b9c95e; } }
#testimonials .testimonials-car .testimon {
  width: 300px;
  padding: 3.6rem 2.3rem;
  opacity: 0.4;
  background-color: white; }
  #testimonials .testimonials-car .testimon.slick-current {
    transform: scale(1.4);
    opacity: 0.8;
    position: relative;
    z-index: 1; }
  #testimonials .testimonials-car .testimon .icon-col {
    padding: 0 .5rem;
    width: 23%; }
  #testimonials .testimonials-car .testimon .ad-container {
    padding: 0 .5rem;
    width: 77%;
    font-size: 0.8rem;
    line-height: 1.5; }
    #testimonials .testimonials-car .testimon .ad-container .name {
      font-family: 'Rockwell Bold', serif;
      font-size: 1rem;
      text-align: right;
      display: block;
      margin: 2rem 0 4rem; }
    #testimonials .testimonials-car .testimon .ad-container img {
      width: 150px; }
  #testimonials .testimonials-car .testimon:focus {
    outline: none; }

#blog {
  margin-bottom: 7.8rem; }
  #blog h2 {
    text-align: center;
    margin-bottom: 5.6rem; }
    #blog h2 span {
      font-size: 2.4rem; }
  #blog .blog-col .image-cont {
    background: url(../media/img/Clip_group.png) no-repeat center center;
    background-size: cover;
    width: 14.3rem;
    height: 12.5rem;
    border-radius: .5rem; }
  #blog .blog-col .text-cont {
    padding: .5rem 1.5rem; }
    #blog .blog-col .text-cont p {
      text-align: justify; }
    #blog .blog-col .text-cont a {
      color: #95165b;
      text-decoration: underline;
      text-align: right;
      display: block; }
  @media screen and (max-width: 960px) {
    #blog .blog-col {
      margin-bottom: 1rem; } }

#faq {
  margin-bottom: 6.4rem; }
  #faq .row {
    background-color: #95165b; }
    #faq .row h2 {
      color: white;
      margin-bottom: 4.4rem; }
    #faq .row img {
      height: 350px; }
    #faq .row .question-group {
      color: white;
      margin-top: 1.5rem; }
      #faq .row .question-group .question h3 {
        font-family: 'Rockwell', serif;
        font-size: 1.15rem; }
      #faq .row .question-group .question p {
        font-size: 1.15rem;
        padding: 1.1rem 5.1rem 1rem;
        text-align: justify; }

#banner-ad {
  margin-bottom: 4.6rem; }
  #banner-ad h2 {
    margin-bottom: 5.8rem; }
    #banner-ad h2 span {
      font-family: 'Rockwell Bold', serif;
      color: #95165b; }
  #banner-ad .ad-bl {
    margin-bottom: 5rem; }
    #banner-ad .ad-bl .icon-col {
      width: 30%;
      padding: 1.5rem 0; }
      @media screen and (max-width: 1620px) {
        #banner-ad .ad-bl .icon-col {
          padding: 1.5rem 1rem; } }
      #banner-ad .ad-bl .icon-col img {
        max-height: 100px;
        max-width: 108px; }
    #banner-ad .ad-bl .ad-container {
      width: 70%;
      padding: 1.5rem 0 0; }
      #banner-ad .ad-bl .ad-container h3 {
        font-family: "Montserrat", sans-serif;
        font-size: 2.4rem;
        line-height: 1.2;
        color: #333945; }
    @media screen and (max-width: 960px) {
      #banner-ad .ad-bl {
        margin-bottom: 3rem; } }
  #banner-ad .btn-full {
    background-color: #b9c95e;
    border-color: #b9c95e;
    margin: 0 auto;
    display: block;
    color: black; }

footer {
  background-color: #333945;
  padding: 12rem 0 5.4rem;
  font-size: 1.125rem;
  color: white; }
  footer .basic p {
    margin-bottom: 3rem; }
  footer .basic ul {
    list-style: none; }
    footer .basic ul li {
      display: inline-block; }
      footer .basic ul li:before {
        content: '|';
        color: #b9c95e; }
      footer .basic ul li:first-of-type:before {
        content: ''; }
      footer .basic ul li:first-of-type a {
        padding: 0 .2rem 0 0; }
      footer .basic ul li a {
        padding: 0 .2rem;
        color: #b9c95e; }
        footer .basic ul li a:hover {
          color: #95165b; }
  footer .contacts ul {
    list-style: none; }
    footer .contacts ul li {
      margin-bottom: 2.7rem; }
      footer .contacts ul li img {
        max-height: 27px;
        margin-right: 1.125rem;
        width: 36px; }
      footer .contacts ul li a {
        color: white; }
  footer .copyright {
    margin-top: 4.5rem;
    text-align: center; }
  @media screen and (max-width: 960px) {
    footer {
      padding: 5rem 0 2rem; } }

/*# sourceMappingURL=style.css.map */
