@import "../fonts/fonts";

* {
  margin: 0;
  padding: 0;
}
html, body {
  font-style: normal;
  font-weight: 400;
  font-size: 14.5px;
  line-height: 1.5;
  font-family: 'Montserrat Light', sans-serif;
  letter-spacing: 0;
  text-align: left;
  color: #3b3d42;
  background-color: white;
  @media screen and (max-width: 1620px) {
    font-size: 12px;
  }
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

$color-main: rgb(149,22,91);
$color-green: rgb(185,201,94);
$color-dark: rgb(51,57,69);


audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}
ul {
  list-style: disc;
}

a {
  color: #484848;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover {
    color: $color-main;
    text-decoration: none;
  }
}

h2 {
  font-size: 3.125rem;
  font-family: "Rockwell Bold", serif;
  line-height: 1.2;
  word-spacing: -0.2rem;
  text-align: center;
  span {
    font-family: "Rockwell", serif;
  }
  @media screen and (max-width: 767px) {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.row {
  margin: 0;
}

.painted-block {
  padding: 2.8rem 2.5rem 4.4rem;
  border-radius: 2rem;
  @media screen and (max-width: 767px) {
    border-radius: 0;
  }
  @media screen and (max-width: 350px) {
    border-radius: 0;
    padding: 1.8rem 0.5rem 2.4rem;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.btn-full {
  font-size: 1.2rem;
  width: 252px;
  color: #fff;
  background-color: $color-main;
  border-color: $color-main;
  padding: 1.2rem .5rem;
  @media screen and (max-width: 1620px) {
    width: 208px;
  }
  @media screen and (max-width: 1200px) {
    width: 180px;
    font-size: 1.2rem;
  }
  @media screen and (max-width: 767px) {
    width: 160px;
  }
}

.btn-empty {
  font-size: 1.2rem;
  line-height: 1;
  width: 252px;
  padding: 1.5rem .5rem;
  @media screen and (max-width: 1620px) {
    width: 208px;
  }
  @media screen and (max-width: 1200px) {
    width: 180px;
    font-size: 1.2rem;
  }
  @media screen and (max-width: 767px) {
    width: 160px;
  }
}

.wrapper {
  max-width: 1580px;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
  @media screen and (max-width: 1620px) {
    width: 80%;
  }
  @media screen and (max-width: 1420px) {
    width: 96%;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
header {
  .navbar {
    margin: 2.4rem 0 4.2rem;
    @media screen and (max-width: 767px) {
      margin: 0 0 4.2rem;
    }
    @media screen and (max-width: 767px) {
      margin: 0 0 2.2rem;
    }
    .logo-block {
      width: 24rem;
      margin-right: 4rem;
      @media screen and (max-width: 1620px) {
        margin-right: 0;
      }
      @media screen and (max-width: 960px) {
        width: 19rem;
      }
      @media screen and (max-width: 350px) {
        width: 17rem;
      }
      img {
        max-height: 110px;
      }
    }
    .navbar-toggler {
      width: 80px;
      height: 80px;
      position:relative;
      cursor:pointer;
      margin-right: 2%;
      @media screen and (max-width: 450px) {
        width: 75px;
        height: 75px;
        margin-right: 1%;
      }
      span {
        display:block;
        background-color: #333;
        border-radius: 10px;
        transition:.25s ease-in-out;
        box-sizing:border-box;
      }
        #hamburger {
          position:absolute;
          height:100%;
          width:100%;
          span {
            position:relative;
            top:24px;
            right: 15%;
            height: 5px;
            margin: 10px 0 10px auto;
            @media screen and (max-width: 450px) {
              margin: 7px 0 7px auto;
              top:27px;
            }
            &:nth-child(1){
              width: 71px;
              transition-delay:.5s;
              @media screen and (max-width: 450px) {
                width: 60px;
              }
            }
            &:nth-child(2){
              width: 66px;
              transition:.25s ease-in-out;
              box-sizing:border-box;
              transition-delay:.625s;
              @media screen and (max-width: 450px) {
                width: 53px;
              }
            }
            &:nth-child(3){
              width: 58px;
              transition:.25s ease-in-out;
              box-sizing:border-box;
              transition-delay:.75s;
              @media screen and (max-width: 450px) {
                width: 48px;
              }
            }
          }
        }
        #cross {
          position:absolute;
          height:100%;
          width:100%;
          transform:rotate(45deg);
          @media screen and (max-width: 450px) {
            height: 90%;
            width: 90%;
          }
          span{
            &:nth-child(1){
              height:0;
              width:5px;
              position:absolute;
              top: 20%;
              right: 45%;
              transition-delay:0s;
              @media screen and (max-width: 450px) {
                right: 32%;
              }
            }
            &:nth-child(2){
              width:0;
              height:5px;
              position:absolute;
              right: 10%;
              top: 60%;
              transition-delay:.25s;
              @media screen and (max-width: 450px) {
                right: 0;
              }
            }
          }
        }
      &.open {
        #hamburger {
          span {
            width:0%;
            &:nth-child(1){
              transition-delay:0s;
            }
            &:nth-child(2){
              transition-delay:.125s;
            }
            &:nth-child(3){
              transition-delay:.25s;
            }
          }
        }
        #cross {
          span {
            &:nth-child(1){
              height:80%;
              transition-delay:.625s;
            }
          }
          span {
            &:nth-child(2){
              width:80%;
              transition-delay:.375s;
            }
          }
        }
      }
      }

    .menu-block {
      .nav {
        @media screen and (max-width: 767px) {
          padding: 2rem 0;
        }
        .nav-item {
          font-size: 1.4rem;
            .nav-link {
              margin: 0 1.1rem;
              padding: 0 1rem;
              line-height: 1;
              @media screen and (max-width: 1200px) {
                margin: 0 .5rem;
                padding: 0 .3rem;
                font-size: 1.2rem;
              }
            }
        }

      }
    }
    .buttons-block {
      margin-left: auto;
      margin-bottom: -1.5rem;
      @media screen and (max-width: 767px) {
        margin-bottom: 0;
      }
      button {
        width: 202px;
        &.btn-empty {
          margin-right: 1.8rem;
          @media screen and (max-width: 1200px) {
            margin-right: 1.2rem;
          }
        }
        @media screen and (max-width: 1620px) {
          width: 180px;
        }
        @media screen and (max-width: 1200px) {
          font-size: 1rem;
        }
        @media screen and (max-width: 990px) {
          width: 105px;
        }
      }
    }
  }
}

#banner-main {
  margin-bottom: 2.5rem;
  .row {
    background-color: rgb(185,216,74);
    .left-col {
      padding-right: 8.4rem;
      @media screen and (max-width: 1200px) {
        padding-right: 6.4rem;
      }
      @media screen and (max-width: 960px) {
        padding-right: 0;
      }
      h2 {
        margin-bottom: 4.4rem;
        text-align: left;
      }
      p {
        font-size: 1.33rem;
        line-height: 1.2;
        text-align: justify;
        margin-bottom: 6rem;
      }
      .buttons-block {
        .btn-full {
          margin-right: 1.8rem;
        }
      }
    }
    .video-container {
      video {
        border-radius: .3rem;
        height: auto;
        max-height: 446px;
        border: 1px solid;
        @media screen and (max-width: 1620px) {
          max-height: 370px;
        }
        @media screen and (max-width: 1200px) {
          max-height: 315px;
        }
        @media screen and (max-width: 960px) {
          height: 245px;
          align-self: center;
        }
      }
      @media screen and (max-width: 960px) {
        display: flex;
      }
      @media screen and (max-width: 767px) {
        display: none!important;
      }
    }
  }
}

#solutions {
  h2 {
    margin-bottom: 3.2rem;
    span {
      font-size: 2.4rem;
    }
    @media screen and (max-width: 767px) {
      padding-left: 3.75rem;
      text-align: left;
    }
    @media screen and (max-width: 350px) {
      padding-left: 1.75rem;
    }
  }
  .info-bl {
    margin-bottom: 4rem;
    .icon-col {
      width: 30%;
      padding: 1.5rem 0;
      @media screen and (max-width: 1620px) {
        padding: 1.5rem 1rem;
      }
      @media screen and (max-width: 767px) {
        display: none;
      }
      img {
        max-height: 100px;
        max-width: 123px;
      }
    }
    .info-container {
      width: 70%;
      padding: 1.5rem 2rem;
      -webkit-box-shadow: -2px 2px 20px 0px rgba(212,212,212,0.75);
      -moz-box-shadow: -2px 2px 20px 0px rgba(212,212,212,0.75);
      box-shadow: -2px 2px 20px 0px rgba(212,212,212,0.75);
      @media screen and (max-width: 767px) {
        margin: 0 auto;
      }
      @media screen and (max-width: 568px) {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 90%;
      }
      @media screen and (max-width: 350px) {
        padding: 1.5rem 0;
      }
      h3 {
        font-family: "Rockwell", serif;
        font-size: 2.4rem;
        height: 76px;
        line-height: 1;
        margin-bottom: 2.7rem;
        img {
          display: none;
          height: 70px;
          width: 100px;
          margin-right: 1rem;
          @media screen and (max-width: 767px) {
            display: block;
          }
        }
      }
      .info-text {
        margin-bottom: 3.7rem;
        text-align: justify;
        word-spacing: .1rem;
        @media screen and (max-width: 350px) {
          margin-bottom: 1.7rem;
        }
      }
      .info-link {
        color: $color-main;
        text-decoration: underline;
        text-align: right;
        display: block;
      }
    }
  }
}

#principles {
  margin-bottom: 4rem;
  .row {
    background-color: $color-main;
    h2 {
      color: white;
      margin-bottom: 4.4rem;
      text-align: left;
      @media screen and (max-width: 960px) {
        margin-bottom: 1.4rem;
      }
    }
    .video-container {
      position: relative;
      #plane-img {
        position: absolute;
        right: 4%;
        top: 0;
        height: 8.9rem;
      }
      #video-scr {
        margin-top: 5rem;
        border-radius: .3rem;
        height: 100%;
        width: 90%;
        z-index: 1;
        @media screen and (max-width: 1200px) {
          width: 100%;
        }
      }
      video {
        margin-top: 5rem;
        border-radius: .3rem;
        height: 100%;
        width: 90%;
        z-index: 1;
        @media screen and (max-width: 1200px) {
          width: 100%;
        }
      }
    }
  }
}

#pricing {
  margin-bottom: 4rem;
  @media screen and (max-width: 350px) {
    margin-bottom: 3rem;
  }
  h2 {
    margin-bottom: 7.7rem;
    @media screen and (max-width: 767px) {
      padding-left: 3.75rem;
      text-align: left;
    }
    @media screen and (max-width: 350px) {
      padding-left: 1.75rem;
    }
  }
  .row {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  .wrap-car  {
    display: none;
    background-color: rgb(228,197,214);
    height: 755px;
    position: absolute;
    width: 100%;
    margin: 2.1rem auto;
    @media screen and (max-width: 767px) {
      display: block;
    }
    @media screen and (max-width: 350px) {
      height: 600px;
    }
  }
  .price-carousel {
    display: none;
    width: 70%;
    margin: 0 auto;
    @media screen and (max-width: 767px) {
      display: block;
      width: calc(100% - 7.5rem);
    }
    @media screen and (max-width: 350px) {
      width: calc(100% - 3.5rem);
    }
    .slick-list {
      padding: 2rem 0!important;
    }
    .slick-arrow {
      position: absolute;
      top: 20%;
      color: white;
      font-size: 15rem;
      @media screen and (max-width: 350px) {
        font-size: 11rem;
      }
    }
    .slick-prev {
      left: -6%;
      &::before {
        content: "\2039";
      }
      @media screen and (max-width: 567px) {
        left: -12%;
      }
      @media screen and (max-width: 350px) {
        left: -7%;
      }
    }
    .slick-next {
      right: -6%;
      &::before {
        content: "\203A";
      }
      @media screen and (max-width: 567px) {
        right: -12%;
      }
      @media screen and (max-width: 350px) {
        right: -7%;
      }
    }
  }
  .price-bl {
    width: 24%;
    border-radius: .3rem;
    -webkit-box-shadow: -2px 10px 23px 10px rgba(212,212,212,0.75);
    -moz-box-shadow: -2px 10px 23px 10px rgba(212,212,212,0.75);
    box-shadow: -2px 10px 23px 10px rgba(212,212,212,0.75);
    position: relative;
    @media screen and (max-width: 767px) {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background-color: white;
    }
    .mark-popular {
      padding: 1rem;
      border-radius: .3rem .3rem 0 0;
      background-color: $color-main;
      color: white;
      margin: 0;
      display: block;
      text-align: center;
      position: absolute;
      left: .2%;
      width: 99.4%;
      top: -1.5rem;
      font-size: 1.5rem;
      line-height: 1;
      font-family: 'Rockwell Bold', serif;
    }
    .price-wrap {
      padding: 4.8rem 2rem;
      h3 {
        font-family: 'Montserrat', sans-serif;
        color: rgb(124,124,124);
        text-align: center;
        font-size: 2.8rem;
      }
      .img-block {
        text-align: center;
        img {
          height: 285px;
          @media screen and (max-width: 960px) {
            height: 130px;
          }
          @media screen and (max-width: 767px) {
            height: 320px;
            margin: 0 auto;
          }
          @media screen and (max-width: 210px) {
            height: 210px;
          }
        }
      }
      .price {
        text-align: center;
        font-size: 3.2rem;
        margin: 1rem auto 2rem;
        color: rgb(124,124,124);
        font-family: 'Montserrat Medium', serif;
      }
      .price-text {
        width: 252px;
        margin: 0 auto;
        @media screen and (max-width: 1620px) {
          width: 80%;
        }
      }
      .btn-full {
        text-align: center;
        display: block;
        margin: 7rem auto 0;
        @media screen and (max-width: 1620px) {
          width: 80%;
        }
        @media screen and (max-width: 350px) {
          margin: 3rem auto 0;
        }
      }
      @media screen and (max-width: 1200px) {
        padding: 5.4rem 2rem;
      }
      @media screen and (max-width: 320px) {
        padding: 3.4rem 2rem;
      }
    }
    &:last-of-type {
      .price-wrap {
        .btn-full {
          background-color: $color-green;
          border-color: $color-green;
          color: black;
          &:hover {
            background-color: $color-dark;
            border-color: $color-dark;
            color: white;
          }
        }
      }
    }
  }
}

#flags {
  margin-bottom: 6.2rem;
  @media screen and (max-width: 350px) {
    margin-bottom: 4.2rem;
  }
  h2 {
    margin-bottom: 6.8rem;
    @media screen and (max-width: 767px) {
      padding-left: 3.75rem;
      text-align: left;
    }
    @media screen and (max-width: 350px) {
      padding-left: 1.75rem;
    }
  }
  .row {
    @media screen and (max-width: 1200px) {
      width: calc(100% - 7rem);
      margin: 0 auto;
    }
    @media screen and (max-width: 1200px) {
      width: calc(100% - 3.5rem);
      margin: 0 auto;
    }
    .flag {
      width: 77px;
      height: 48px;
      opacity: 0.4;
      @media screen and (max-width: 960px) {
        margin-bottom: .5rem;
      }
    }
    @for $i from 0 through 13 {
      .fl-#{$i+1} {
        background: url(../media/img/flagzz.svg) no-repeat;
        background-position-x: calc(#{$i}*(-108px) - 5px);
        background-position-y: -9px;
        background-size: 1500px;
      }
    }
    @for $i from 8 through 10 {
      .fl-#{$i+1} {
        background-position-x: calc(#{$i}*(-108px) + 3px);
      }
    }
    @for $i from 11 through 13 {
      .fl-#{$i+1} {
        background-position-x: calc(#{$i}*(-108px) + 2px);
      }
    }
    @media screen and (max-width: 1200px) {
      @for $i from 0 through 13 {
        .fl-#{$i+1} {
          margin-right: 1rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

#try-prop {
  margin-bottom: 8.7rem;
  @media screen and (max-width: 350px) {
    margin-bottom: 4.7rem;
  }
  .row {
    margin: 0 auto;
    @media screen and (max-width: 767px) {
      padding-left: 3.75rem;
      text-align: left;
    }
    @media screen and (max-width: 350px) {
      padding-left: 1.75rem;
    }
    .illustration {
      img {
        max-height: 413px;
      }
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
    .free-benefits {
      h3 {
        font-family: 'Rockwell', serif;
        font-size: 2.3rem;
        margin-bottom: 2.5rem;
        word-spacing: .2rem;
      }
      ul {
        list-style: none;
        li {
          font-family: 'Montserrat Light', sans-serif;
          font-size: 1.4rem;
          line-height: 1;
          margin-bottom: 1.1rem;
          color: $color-dark;
          &:before {
            content: "\2605";
            margin-right: 1.5rem;
            color: $color-main;
            font-size: 0.9rem;
            vertical-align: middle;
            display: inline-block;
            -webkit-transform: rotate(30deg);
            -moz-transform: rotate(30deg);
            -o-transform: rotate(30deg);
            -ms-transform: rotate(30deg);
            transform: rotate(30deg);
          }
          span {
            color: $color-main;
          }
        }
      }
    }
    .chooser {
      img {
        height: 265px;
        display: block;
        margin: 0 auto 3.5rem;
        @media screen and (max-width: 767px) {
          height: 190px;
        }
      }
      .btn-container {
        .btn-full {
          &:first-of-type {
            background-color: $color-green;
            border-color: $color-green;
            color: black;
            &:hover {
              background-color: $color-dark;
              border-color: $color-dark;
              color: white;
            }
          }
          @media screen and (max-width: 1620px) {
            width: 48%;
          }
          @media screen and (max-width: 450px) {
            width: 80%;
          }
        }

      }
      .remark {
        margin-left: 1.5rem;
        @media screen and (max-width: 767px) {
          display: none;
        }
      }
    }
  }
}

#testimonials {
  h2 {
    @media screen and (max-width: 767px) {
      padding-left: 3.75rem;
      text-align: left;
    }
    @media screen and (max-width: 350px) {
      padding-left: 1.75rem;
    }
  }
  .testimonials-car {
    .slick-list {
      padding: 8rem 0!important;
      @media screen and (max-width: 767px) {
        padding: 2rem 4rem !important;
        background-color: rgb(237,241,215);
        margin-left: -1.5rem;
      }
      @media screen and (max-width: 350px) {
        padding: 2rem 3rem !important;
        background-color: rgb(237,241,215);
        margin-left: -1.5rem;
      }
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 58%;
        position: absolute;
        bottom: 8rem;
        border: 2.7rem solid $color-green;
        border-radius: 10px;
        opacity: 0.4;
        z-index: -1;
        @media screen and (max-width: 960px) {
          height: 64%;
          border: 1.7rem solid #b9c95e;
        }
        @media screen and (max-width: 767px) {
          display: none;
        }
      }
      .slick-track {
        @media screen and (max-width: 767px) {
          display: flex;
          align-items: center;
        }
      }
    }
    .testimon {
      width: 300px;
      padding: 5.6rem 3rem;
      opacity: 0.4;
      background-color: white;
      @media screen and (max-width: 1200px) {
        padding: 5.6rem 3rem 4rem;

      }
      @media screen and (max-width: 767px) {
        padding: 3.6rem 2rem;
        margin-left: 1.5rem;
        border-radius: 1rem;
      }
      &.slick-current {
        transform: scale(1.4);
        padding: 6.6rem 3rem 1rem;
        opacity: 0.8;
        position: relative;
        z-index: 1;
        @media screen and (max-width: 1600px) {
          padding: 7rem 3rem 0;
        }
        @media screen and (max-width: 767px) {
          transform: scale(1);
          padding: 6rem 2rem;
        }
      }
      .icon-col {
        padding: 0 .5rem;
        width: 23%;
        img {
          @media screen and (max-width: 767px) {
            width: 50%;
            max-height: 150px;
          }
        }
        .img-name {
          display: none;
          font-family: 'Rockwell Bold', serif;
          width: 50%;
          font-size: 1.2rem;
          text-align: right;
          margin: 2rem 0 4rem;
          @media screen and (max-width: 767px) {
            display: block;
          }
        }
        @media screen and (max-width: 767px) {
          width: 100%;
          display: flex;
          align-items: baseline;
        }
      }
      .ad-container {
        padding: 0 .5rem;
        width: 77%;
        font-size: 0.8rem;
        line-height: 1.5;
        .name {
          font-family: 'Rockwell Bold', serif;
          font-size: 1rem;
          text-align: right;
          display: block;
          margin: 2rem 0 4rem;
          @media screen and (max-width: 1620px) {
            margin: 2rem 0 3rem;
          }
          @media screen and (max-width: 767px) {
            display: none;
          }
        }
        img {
          width: 150px;
          @media screen and (max-width: 1620px) {
            width: 130px;
          }
          @media screen and (max-width: 767px) {
            margin: 2rem auto 0;
          }
        }
        @media screen and (max-width: 767px) {
          width: 100%;
        }
      }
      &:focus {
        outline: none;
      }
    }
    .slick-arrow {
      position: absolute;
      top: 40%;
      color: white;
      width: 2rem;
      height: 2rem;
      z-index: 2;
    }
    .slick-prev {
      left: 3%;
      top: 45%;
      transform: rotate(180deg);
      //&::before {
      //  content: "\2039";
      //}
    }
    .slick-next {
      right: 3%;
      //&::before {
      //  content: "\203A";
      //}
    }
  }
}

#blog {
  margin-bottom: 7.8rem;
  @media screen and (max-width: 767px) {
    display: none;
  }
  h2 {
    text-align: center;
    margin-bottom: 5.6rem;
    span {
      font-size: 2.4rem;
    }
  }
  .blog-col {
    .image-cont {
      background: url(../media/img/Clip_group.png) no-repeat center center;
      background-size: cover;
      width: 14.3rem;
      height: 12.5rem;
      border-radius: .5rem;
    }
    .text-cont {
      padding: .5rem 1.5rem;
      p {
        text-align: justify;
      }
      a {
        color: $color-main;
        text-decoration: underline;
        text-align: right;
        display: block;
      }
    }
    @media screen and (max-width: 960px) {
      margin-bottom: 1rem;
    }
  }
}

#faq {
  margin-bottom: 6.4rem;
  @media screen and (max-width: 350px) {
    margin-bottom: 3.4rem;
  }
  .row {
    background-color: $color-main;
    h2 {
      color: white;
      margin-bottom: 4.4rem;
    }
    #monitoring-img {
      height: 350px;
      @media screen and (max-width: 767px) {
        margin: 0 auto;
        display: block;
      }
      @media screen and (max-width: 350px) {
        height: 260px;
      }
    }
    .question-group {
      color: white;
      margin-top: 1.7rem;
      .question {
        .arrow-collapse {
          height: 1rem;
          margin-right: 1rem;
        }
        h3 {
          font-family: 'Rockwell', serif;
          font-size: 1.15rem;
          line-height: 1;
        }
        p {
          font-size: 1.15rem;
          padding: 1.1rem 5.1rem 1rem;
          text-align: justify;
          @media screen and (max-width: 450px) {
            padding: 1.1rem 1.1rem 1rem;
          }
        }
        &:first-of-type, &:nth-of-type(2) {
          .arrow-collapse {
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}

#banner-ad {
  margin-bottom: 4.6rem;
  h2 {
    margin-bottom: 5.8rem;
    span {
      font-family: 'Rockwell Bold', serif;
      color: $color-main;
    }
    @media screen and (max-width: 767px) {
      padding-left: 3.75rem;
      text-align: left;
    }
    @media screen and (max-width: 350px) {
      padding-left: 1.75rem;
    }

  }
  .ad-bl {
    margin-bottom: 5rem;
    .icon-col {
      width: 30%;
      padding: 1.5rem 0;
      @media screen and (max-width: 1620px) {
        padding: 1.5rem 1rem;
      }
      img {
        max-height: 100px;
        max-width: 108px;
      }
    }
    .ad-container {
      width: 70%;
      padding: 1.5rem 0 0;
      h3 {
        font-family: "Montserrat", sans-serif;
        font-size: 2.4rem;
        line-height: 1.2;
        color: $color-dark;
      }
    }
    @media screen and (max-width: 960px) {
      margin-bottom: 3rem;
    }
  }
  .btn-full {
    background-color: $color-green;
    border-color: $color-green;
    margin: 0 auto;
    display: block;
    color: black;
    &:hover {
      background-color: $color-dark;
      border-color: $color-dark;
      color: white;
    }
    @media screen and (max-width: 960px) {
      width: 30%;
    }
    @media screen and (max-width: 767px) {
      width: 40%;
    }
    @media screen and (max-width: 450px) {
      width: 50%;
    }
  }
}

footer {
  background-color: $color-dark;
  padding: 12rem 0 5.4rem;
  font-size: 1.125rem;
  color: white;
  .basic {
    p {
      margin-bottom: 3rem;
    }
    ul {
      list-style: none;
      li {
        display: inline-block;
        &:before {
          content: '|';
          color: $color-green;
        }
        &:first-of-type {
          &:before {
            content: '';
          }
          a {
            padding: 0 .2rem 0 0;
          }
        }
        a {
          padding: 0 .2rem;
          color: $color-green;
          &:hover {
            color: $color-main;
          }
        }
      }
    }
    @media screen and (max-width: 960px) {
      margin-bottom: 3rem;
    }
  }
  .contacts {
    ul {
      list-style: none;
      li {
        margin-bottom: 2.7rem;
        img {
          max-height: 27px;
          margin-right: 1.125rem;
          width: 36px;
        }
        a {
          color: white;
        }
      }
    }
  }
  .copyright {
    margin-top: 4.5rem;
    text-align: center;
  }
  @media screen and (max-width: 960px) {
    padding: 5rem 0 2rem;
  }
}

#pricing-plan {
  .row {
    h2 {
      text-align: left;
      margin-bottom: 2.7rem;
    }
    .plan-image {
      @media screen and (max-width: 992px) {
        display: none;
      }
    }
    .plan-features {
      padding-top: 3.8rem;
      @media screen and (max-width: 450px) {
        padding-top: 0;
      }
      ul {
        list-style: none;
        li {
          font-family: 'Montserrat Light', sans-serif;
          font-size: 1.4rem;
          line-height: 1;
          margin-bottom: 1.1rem;
          color: $color-dark;
          &:before {
            content: "\2605";
            margin-right: 1.5rem;
            color: $color-main;
            font-size: 0.9rem;
            vertical-align: middle;
            display: inline-block;
            -webkit-transform: rotate(30deg);
            -moz-transform: rotate(30deg);
            -o-transform: rotate(30deg);
            -ms-transform: rotate(30deg);
            transform: rotate(30deg);
          }
          span {
            color: $color-main;
          }
        }
      }
    }
    .plan-description {
      padding-top: 3.8rem;
    }
  }
  .btn-full {
    margin: 2.7rem auto 5.8rem;
  }
}