@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Regular.eot?") format("eot"),
  url("/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"),
  url("/fonts/Montserrat/Montserrat-Regular.woff") format("woff"),
  url("/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"),
  url("/fonts/Montserrat/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
}

@font-face {
  font-family: "Montserrat Light";
  src: url("/fonts/MontserratLight/Montserrat-Light.eot?") format("eot"),
  url("/fonts/MontserratLight/Montserrat-Light.woff2") format("woff2"),
  url("/fonts/MontserratLight/Montserrat-Light.woff") format("woff"),
  url("/fonts/MontserratLight/Montserrat-Light.ttf") format("truetype"),
  url("/fonts/MontserratLight/Montserrat-Light.svg#Montserrat-Light") format("svg");
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("/fonts/MontserratMedium/Montserrat-Medium.eot?") format("eot"),
  url("/fonts/MontserratMedium/Montserrat-Medium.woff2") format("woff2"),
  url("/fonts/MontserratMedium/Montserrat-Medium.woff") format("woff"),
  url("/fonts/MontserratMedium/Montserrat-Medium.ttf") format("truetype"),
  url("/fonts/MontserratMedium/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
}

@font-face {
  font-family: "Rockwell";
  src: url("/fonts/Rockwell/Rockwell.eot?") format("eot"),
  url("/fonts/Rockwell/Rockwell.woff2") format("woff2"),
  url("/fonts/Rockwell/Rockwell.woff") format("woff"),
  url("/fonts/Rockwell/Rockwell.ttf") format("truetype"),
  url("/fonts/Rockwell/Rockwell.svg#Rockwell") format("svg");
}

@font-face {
  font-family: "Rockwell Bold";
  src: url("/fonts/RockwellBold/Rockwell Bold.eot?") format("eot"),
  url("/fonts/RockwellBold/Rockwell Bold.woff2") format("woff2"),
  url("/fonts/RockwellBold/Rockwell Bold.woff") format("woff"),
  url("/fonts/RockwellBold/Rockwell Bold.ttf") format("truetype"),
  url("/fonts/RockwellBold/Rockwell Bold.svg#Rockwell-Bold") format("svg");
}